In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Zadanie 1

In [ ]:
titanic = pd.read_csv('titanic_better.csv')
# Zamiana wartości N w kolumnie cabinReduced na nan
# ponieważ na poprzednich zajęciach tak oznaczyłam wartości brakujące
titanic['cabinReduced'] = titanic.cabinReduced.replace({'N': np.nan}) 
titanic.head()

,id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,...,body,home.dest,ageNull,fareNull,cabinNull,embarkedNull,boatNull,bodyNull,homedestNull,cabinReduced
0,1,1,1,"Allen,Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,...,NaN,"St Louis,MO",0,0,0,0,0,1,0,B
1,2,1,1,"Allison,Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,...,NaN,"Montreal,PQ / Chesterville,ON",0,0,0,0,0,1,0,C
2,3,1,0,"Allison,Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,...,NaN,"Montreal,PQ / Chesterville,ON",0,0,0,0,1,1,0,C
3,4,1,0,"Allison,Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,...,135.0,"Montreal,PQ / Chesterville,ON",0,0,0,0,1,0,0,C
4,5,1,0,"Allison,Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,...,NaN,"Montreal,PQ / Chesterville,ON",0,0,0,0,1,1,0,C

## Zadanie 2
Funkcja train_test_split dzieli zbiór danych na zbiór testowy i treningowy zgodnie z ustaloną proporcją. Możemy wybrać dodatkowe parametry takie jak to ziarno generatora (seed), czy chcemy aby dane były wcześniej mieszane albo czy chcemy żeby zbiór testowy i treningowy miały taki sam odsetek danych należących do którejś z klas

## Zadanie 3

In [ ]:
col_name = ['cabin', 'cabinReduced', 'sex']

## Zadanie 4
Dzielenie zbioru

In [ ]:
y = titanic['survived']
X = titanic[col_name]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print(f'Rozmiar X_train: {X_train.shape}')
print(f'Rozmiar X_test: {X_test.shape}')
print(f'Rozmiar y_train: {y_train.shape}')
print(f'Rozmiar y_test: {y_test.shape}')

Rozmiar X_train: (1047, 3)
Rozmiar X_test: (262, 3)
Rozmiar y_train: (1047,)
Rozmiar y_test: (262,)

Macierze dla zbioru treningowego (`X_train` i `y_train`) mają taką samą ilość wierszy, jest to mniej więcej 80% oryginalnej ilości wierszy; podobnie jest dla danych testowych. Macierze zmiennych niezależnych mają tą samą ilość cech (`X_train` i `X_test`), analogicznie jest dla danych zawierających zmienne zależne. Posiadają one 1 kolumnę, mimo że nie jest to napisane wprost.

## Zadanie 5

In [ ]:
ut_sex = [x for x in X_test.sex.unique() if x not in X_train.sex.unique()]
ut_cabin = [x for x in X_test.cabin.unique() if x not in X_train.cabin.unique()]
ut_cabinReduced = [x for x in X_test.cabinReduced.unique() if x not in X_train.cabinReduced.unique()]
ut_survived = [y for y in y_test.unique() if y not in y_train.unique()]

print(f'Zmienna sex: {len(ut_sex)}')
print(f'Zmienna cabin: {len(ut_cabin)}')
print(f'Zmienna cabinReduced: {len(ut_cabinReduced)}')
print(f'Zmienna survived: {len(ut_survived)}')

print(f'\nProcentowy udział etykiet zmiennej sex w zbiorze treningowym:\n{X_train.sex.value_counts()/len(X_train)}')
print(f'\nProcentowy udział etykiet zmiennej sex w zbiorze testowym:\n{X_test.sex.value_counts()/len(X_test)}')
print(f'\nProcentowy udział etykiet zmiennej cabinReduced w zbiorze treningowym:\n{X_train.cabinReduced.value_counts()/len(X_train)}')
print(f'\nProcentowy udział etykiet zmiennej cabinReduced w zbiorze testowym:\n{X_test.cabinReduced.value_counts()/len(X_test)}')
print(f'\nProcentowy udział etykiet zmiennej survived w zbiorze treningowym:\n{y_train.value_counts()/len(y_train)}')
print(f'\nProcentowy udział etykiet zmiennej survived w zbiorze testowym:\n{y_test.value_counts()/len(y_test)}')

Zmienna sex: 0
Zmienna cabin: 24
Zmienna cabinReduced: 1
Zmienna survived: 0

Procentowy udział etykiet zmiennej sex w zbiorze treningowym:
male      0.633238
female    0.366762
Name: sex, dtype: float64

Procentowy udział etykiet zmiennej sex w zbiorze testowym:
male      0.687023
female    0.312977
Name: sex, dtype: float64

Procentowy udział etykiet zmiennej cabinReduced w zbiorze treningowym:
C    0.074499
B    0.049666
E    0.034384
D    0.034384
A    0.018147
F    0.017192
G    0.003820
T    0.000955
Name: cabinReduced, dtype: float64

Procentowy udział etykiet zmiennej cabinReduced w zbiorze testowym:
C    0.061069
B    0.049618
D    0.038168
E    0.019084
A    0.011450
F    0.011450
G    0.003817
Name: cabinReduced, dtype: float64

Procentowy udział etykiet zmiennej survived w zbiorze treningowym:
0    0.617956
1    0.382044
Name: survived, dtype: float64

Procentowy udział etykiet zmiennej survived w zbiorze testowym:
0    0.618321
1    0.381679
Name: survived, dtype: float64

Konkluzja:
* 24 etykiety zmiennej cabin znajdują się tylko i wyłącznie w zbiorze testowym!
* Procentowo wszystkie etykiety poza `cabin` kształtują się tak samo w zbiorze treningowym i testowym, co sugeruje że dane podzieliły się dobrze

## Zadanie 6

### zmienna cabin

In [ ]:
cabinDict = {}
for num, el in enumerate(titanic.cabin.unique()):
  cabinDict[el] = num

list(cabinDict.items())[:5] #nan jest pod indeksem 6

[('B5', 0), ('C22 C26', 1), ('E12', 2), ('D7', 3), ('A36', 4)]

### zmienna cabinReduced

In [ ]:
cabinReducedDict = {}
for num, el in enumerate(titanic.cabinReduced.unique()):
  cabinReducedDict[el] = num

cabinReducedDict #nan jest pod indeksem 5

{'B': 0, 'C': 1, 'E': 2, 'D': 3, 'A': 4, nan: 5, 'T': 6, 'F': 7, 'G': 8}

### zmienna sex

In [ ]:
sexDict = {}
for num, el in enumerate(titanic.sex.unique()):
  sexDict[el] = num

sexDict

{'female': 0, 'male': 1}

## Zadanie 7
### zmienna cabin

In [ ]:
X_train['cabinMapped'] = X_train.cabin.map(cabinDict)
X_test['cabinMapped'] = X_test.cabin.map(cabinDict)
X_train[['cabin', 'cabinMapped']].head()

     cabin  cabinMapped
1118   NaN            6
44     E40           28
1072   NaN            6
1130   NaN            6
574    NaN            6

### zmienna cabinReduced

In [ ]:
X_train['cabinReducedMapped'] = X_train.cabinReduced.map(cabinReducedDict)
X_test['cabinReducedMapped'] = X_test.cabinReduced.map(cabinReducedDict)
X_train[['cabinReduced', 'cabinReducedMapped']].head()

     cabinReduced  cabinReducedMapped
1118          NaN                   5
44              E                   2
1072          NaN                   5
1130          NaN                   5
574           NaN                   5

### zmienna sex

In [ ]:
X_train['sexMapped'] = X_train.sex.map(sexDict)
X_test['sexMapped'] = X_test.sex.map(sexDict)
X_train[['sex', 'sexMapped']].head()

         sex  sexMapped
1118    male          1
44    female          0
1072    male          1
1130  female          0
574     male          1

## Zadanie 8

In [ ]:
print(X_train.isna().mean())
print(f'\n{X_test.isna().mean()}')

cabin                 0.766953
cabinReduced          0.766953
sex                   0.000000
cabinMapped           0.000000
cabinReducedMapped    0.000000
sexMapped             0.000000
dtype: float64

cabin                 0.805344
cabinReduced          0.805344
sex                   0.000000
cabinMapped           0.000000
cabinReducedMapped    0.000000
sexMapped             0.000000
dtype: float64

Nowe zmapowane wartości nie zawierają żadnych nulli, ponieważ zostały zastąpione przez wartości liczbowe: odpowiednio 5 i 6 dla kolumn cabin i cabinReduced

## Zadanie 9

In [ ]:
# Kolumny cabin i cabinReduced
X_train_filled = X_train.fillna(0)
X_test_filled = X_test.fillna(0)

cabin                 0.0
cabinReduced          0.0
sex                   0.0
cabinMapped           0.0
cabinReducedMapped    0.0
sexMapped             0.0
dtype: float64

cabin                 0.0
cabinReduced          0.0
sex                   0.0
cabinMapped           0.0
cabinReducedMapped    0.0
sexMapped             0.0
dtype: float64

In [ ]:
# Kolumny zmapowane
cabinDict[np.nan], cabinDict['B5'] = cabinDict['B5'], cabinDict[np.nan]
cabinReducedDict[np.nan], cabinReducedDict['B'] = cabinReducedDict['B'], cabinReducedDict[np.nan]
cabinReducedDict

{'B': 5, 'C': 1, 'E': 2, 'D': 3, 'A': 4, nan: 0, 'T': 6, 'F': 7, 'G': 8}

In [ ]:
# Wstawianie tych wartości jeszcze raz
X_train_filled['cabinMapped'] = X_train.cabin.map(cabinDict)
X_test_filled['cabinMapped'] = X_test.cabin.map(cabinDict)
X_train_filled['cabinReducedMapped'] = X_train.cabinReduced.map(cabinReducedDict)
X_test_filled['cabinReducedMapped'] = X_test.cabinReduced.map(cabinReducedDict)

In [ ]:
print(X_train_filled.isna().mean())
print(f'\n{X_test_filled.isna().mean()}')

cabin                 0.0
cabinReduced          0.0
sex                   0.0
cabinMapped           0.0
cabinReducedMapped    0.0
sexMapped             0.0
dtype: float64

cabin                 0.0
cabinReduced          0.0
sex                   0.0
cabinMapped           0.0
cabinReducedMapped    0.0
sexMapped             0.0
dtype: float64

Zastąpiliśmy brakujące wartości w kolumnach cabin i cabinReduced na 0, nie jest to najlepsze rozwiązanie bo algorytm może się pogubić i nie wiedzieć co to tak właściwie oznacza, tym bardziej, że jak dowiedliśmy w poprzednim zestawie nie są to wartości całkowicie losowo brakujące tylko istnieje związek między wartościami brakującymi a kolumną `survived`.

## Zadanie 10

In [ ]:
print(f'Unikatowe wartości cabin w treningowym: {len(X_train_filled.cabin.unique())}')
print(f'Unikatowe wartości cabin w testowym: {len(X_test_filled.cabin.unique())}')

print(f'\nUnikatowe wartości cabinReduced w treningowym: {len(X_train_filled.cabinReduced.unique())}')
print(f'Unikatowe wartości cabinReduced w testowym: {len(X_test_filled.cabinReduced.unique())}')

print(f'\nUnikatowe wartości sex w treningowym: {len(X_train_filled.sex.unique())}')
print(f'Unikatowe wartości sex w testowym: {len(X_test_filled.sex.unique())}')

print(f'\nUnikatowe wartości cabinMapped w treningowym: {len(X_train_filled.cabinMapped.unique())}')
print(f'Unikatowe wartości cabinMapped w testowym: {len(X_test_filled.cabinMapped.unique())}')

print(f'\nUnikatowe wartości cabinReducedMapped w treningowym: {len(X_train_filled.cabinReducedMapped.unique())}')
print(f'Unikatowe wartości cabinReducedMapped w testowym: {len(X_test_filled.cabinReducedMapped.unique())}')

print(f'\nUnikatowe wartości sexMapped w treningowym: {len(X_train_filled.sexMapped.unique())}')
print(f'Unikatowe wartości sexMapped w testowym: {len(X_test_filled.sexMapped.unique())}')

Unikatowe wartości cabin w treningowym: 164
Unikatowe wartości cabin w testowym: 49

Unikatowe wartości cabinReduced w treningowym: 9
Unikatowe wartości cabinReduced w testowym: 8

Unikatowe wartości sex w treningowym: 2
Unikatowe wartości sex w testowym: 2

Unikatowe wartości cabinMapped w treningowym: 164
Unikatowe wartości cabinMapped w testowym: 49

Unikatowe wartości cabinReducedMapped w treningowym: 9
Unikatowe wartości cabinReducedMapped w testowym: 8

Unikatowe wartości sexMapped w treningowym: 2
Unikatowe wartości sexMapped w testowym: 2

### Konkluzja:
* Liczba unikalnych etykiet różni się między cechami `cabin` i `cabinReduced` ponieważ zmniejszyliśmy ich ilość
* Nie ma różnicy w ilości unikalnych etykiet po zmapowaniu - nie zmienialiśmy w żaden sposób warunków przynależności do danych klas, jedynie nazwaliśmy je inaczej więc nie będzie żadnych różnic
* Całość może mieć wpływ na końcowy wynik predykcji ponieważ:
  * Modele lepiej radzą sobie z wartościami numerycznymi niż ze stringami, niektóre nawet nie przyjmują ich
  * Z drugiej strony nie możemy teraz używać niektórych modeli np. liniowych ponieważ wartości 1, 2, 3 itd. etykiet nie są porządkowe lecz kategoryczne a model tego nie będzie wiedział
  * Problemem i tak zostają wartości brakujące które są tutaj zgrupowane jako jedna osobna kategoria i występuje silna korelacja między tą kategorią a przeżyciem - model może nadać tej cesze dużą wagę i na tym opierać swoje predykcje, a chodzi nam bardziej o *predykowanie na podstawie kabiny w której mieszkał podróżujący* niż *predykowanie na podstawie brakującej kabiny*